body {
    font-family:'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5px;
    padding:2px;
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    padding:20px;
}
footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    padding:20px;
}
h1,h2,h3{
    color: #2c3e50;
    text-align: center;
}
a{
    color: #2980b9;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
table{
    width: 30%;
    margin: 0 auto;
    border-collapse: collapse;
}
td,th{
    border: 3px solid #333;
    padding: 8px;
    text-align:center;
}
form{
    width:20%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
input, textarea, button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
}
button {
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color:lightblue;
}