body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: black;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5px;
    padding:2px;
    background-color:#2980b9;
    color:#f4f4f4;
    font-weight: bold;
}
main{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    padding:20px;
}
footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    padding:20px;
}
h1{
    color:#f4f4f4;
}
h2,h3{
    color: #2980b9;
    text-align: center;
    background-color:#f4f4f4;
    margin-top: 20px; 
    margin-bottom: 5px;
}
a{
    color: #2980b9;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
table{
    width: 30%;
    margin: 0 auto;
    border-collapse: collapse;
}
td,th{
    border: 3px solid #333;
    padding: 8px;
    text-align:center;
}
tr:first-child{
    background-color: #43b1ff4f;
}
form{
    width:20%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}
input, textarea, button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
}
button {
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color:lightblue;
}
ul{
    margin-top: 0; 
    padding-left: 20px;
}
li{
    padding: 7px;
}
a{
    color:rgb(39, 54, 192)
}
p{
    margin-top: 10px;   
    margin-bottom: 5px; 
}
#projects{
    list-style: none;
    
}
#projects li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc; /* línea entre proyectos */
}
#projects li:last-child {
    border-bottom: none; /* quitar línea al último */
}