*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color:#f5f5f5;
    color:#000000;
}
header{
    background-color: rgb(52, 52, 173);
    color:#ffffff;
    padding: 20px;
    text-align: center;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav a{
    color:#ffffff;
    font-weight: bold;
}
section{
    background-color: #f5f5f5;
    padding:20px;
    margin: 0;
    border-bottom: 20px solid rgb(52, 52, 173);
}
