*{
    margin:0;
    padding:0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f0f2f5;
    font-family: Arial, sans-serif;
}
header{
    text-align: center;
    margin:20px;
}
h1{
    margin:10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:30px;
    max-width:400px;
    border-radius:10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
div{
    margin:10px;
    display: flex;
    flex-direction: column;
}
input{
    padding: 3px;
    margin-top: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    align-self: center;
    width: 60%;
    cursor: pointer;
    background-color: #00e5ff65;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
button:hover{
    background-color:white;
    color: #00e5ff65;
}
span{
    color: red;
    display:block;
}
@media(max-width:480px){
    body{
        padding: 10px;
    }
    form{
        width:95%;
        padding: 20px;
    }
    button{
        width: 90%;
    }
}
