body{
    background-color:#2c2c2e;
    font-family: Arial, sans-serif;
}
h1{
    font-weight: bold;
    text-align: center;
    color:#e0e0e0;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:20px;
    padding:20px;
    overflow: hidden;
    
}
.gallery-container div img{
    width:100%;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s ease;
}
.gallery-container div img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
button{
    min-width:120px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: transparent;
    border:1px solid white;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}
button:hover{
    background-color: white;
    color: rgba(75, 34, 6, 1);
}
.filter-buttons{
    display:flex;
    justify-content: center;
    gap: 10px;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 90%;          
    max-width: 1200px;   
    height: auto;        
    max-height: 85vh;    
    object-fit: contain; 
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #bbb;
}